{% extends "base.html" %}
{% load staticfiles %}

{% block head_block %}
  <link href="{% static 'blog/css/blog.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Blog{% endblock %}

{% block nav_block %}
  <ul class="nav navbar-nav">
    <li><a href="{% url 'home:index' %}">Home</a></li>
    <li class="active"><a href="{% url 'blog:index' %}">Blog</a></li>
    <li><a href="{% url 'research:index' %}">Research</a></li>
    <li><a href="{% url 'photography:index' %}">Photography</a></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Coding <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="https://github.com/naity" target="_blank">My Github</a></li>
        <li role="separator" class="divider"></li>
        <li class="dropdown-header">Websites</li>
        <li><a href="http://sleepy-reef-3314.herokuapp.com/" target="_blank">Best of Zhihu</a></li>
      </ul>
    </li>
    <li><a href="{% static 'home/pdf/Yuan_Tian_Resume.pdf' %}" target="_blank">CV</a></li>
  </ul>
{% endblock %}

{% block body_block %}
  <div class="container">
    {% for article in articles %}
      <div class="page-header">
        <h3>{{ article.title }}</h3>
        <h5>{{ article.pub_date_time}} by Yuan</h5>
      </div>
      <div>
        {{ article.text|safe }}
      </div>
    {% endfor %}

    <nav class="text-center">
      <ul class="pagination justify-content-center">
          {% if articles.has_previous %}
              <li class="page-item">
                <a class="page-link" tabindex="-1" href="?page={{ articles.previous_page_number }}">Previous</a>
              </li>
          {% endif %}
          <li class="page-item active">
            <a class="page-link" href="#" tabindex="-1">{{ articles.number }} / {{ articles.paginator.num_pages }}</a>
          </li>
          {% if articles.has_next %}
              <li lass="page-item">
                <a class="page-link" tabindex="-1" href="?page={{ articles.next_page_number }}">Next</a>
              </li>
          {% endif %}
      </ul>
    </nav>

  </div>
{% endblock %}